/* ----------------------------------------Heading */


.navbar-background {
	font-size: 25px;
	color:#fafafa; 
	text-align:center;
	padding: 0px;
}

.navbar-light .navbar-toggler {
	border-color:white;
	border: 2px solid rgba(255,255,255,0.5);
}

.navitem {
	margin:0;
	padding: 0;
	width: 150px;
	height: 50px;
}

.navitem a span{
	width:100%;
	text-decoration: none;
	color: #fafafa;
	font-size: 15px;
}

.navitem a span i{
	color: #fafafa;
	padding-top: 8px;
	font-size: 20px;
}

/* ----------------------------------------paddings/margin/text */

.middle {
	text-align: center;
	color: 	#000000;
	font-weight: bold;
}

.rounded-sm{
	border: 2px solid black;
}


/* ----------------------------------------Background*/


.navbar-background {
	background-color: #1D7073;
}

.page-bg {
	background-color: #51B4B9;
	color:#fafafa;
	margin-top: 50px;
	width:100%;
	padding:0px;
	margin-right:0px;
}

.handrandom1{
    background-image: url('../images/fist.png');
	background-position:center;
    background-size: 50% 100%;
	background-repeat: no-repeat;
	height:200px;
	width:175px;
	margin:20px 50px 20px 50px;
}

.handrandom2{
    background-image: url('../images/fist.png');
	background-position:center;
    background-size: 50% 100%;
	background-repeat: no-repeat;
	height:200px;
	width:175px;
	margin:20px 50px 20px 50px;
}

.playerhand1{
    background-image: url('../images/fist.png');
	background-position:center;
    background-size: 50% 100%;
	background-repeat: no-repeat;
	height:200px;
	width:175px;
	margin:20px 50px 20px 50px;
}

.playerhand2{
    background-image: url('../images/fist.png');
	background-position:center;
    background-size: 50% 100%;
	background-repeat: no-repeat;
	height:200px;
	width:175px;
	margin:20px 50px 20px 50px;
}

.dropdown {
 
  transition: width 2s;
}



.dropdown-content {
    padding: 2px;
    display: none;
    background-color: #51B4B9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 14px;
    text-align:left;
    transition: width 2s;
}

/* ----------------------------------------Hover */
.hvr-sweep-to-bottom:before {
	background-color:rgba(0,0,0,0.2);
	height:100%;
	width: 100%;
}

.dropdown:hover .dropdown-content {
	display: inline-block;

	}



