/* ----------------------------------------Heading */
.menu {
    height: 100%;
}

.menu-container {
    width:100%;
	padding:0px;
    margin-left: 0px;
	margin-right:0px;
    margin-top: 0px;
}

/* ----------------------------------------paddings/margin/text */

.middle {
    font-family: 'Spicy Rice', cursive;
	text-align: center;
	color: 	#000000;
	font-weight: bold;
    font-size:22px;
}
.highscore{
    font-family: 'Spicy Rice', cursive;
    color: 	#000000;
	font-weight: bold;
    font-size:22px;
}

.hand{
    font-family: 'Spicy Rice', cursive;
    color: 	#000000;
	font-weight: bold;
    font-size:22px;
}

.choice{
    margin-bottom: 15px;
}

.rounded-sm{
	border: 2px solid black;
}

.guide {
    width:100%;
	text-decoration: none;
	color: #fafafa;
	font-size: 15px;
}

.summary{
    font-family: 'Spicy Rice', cursive;
    color: 	#000000;
	font-weight: bold;
    font-size:22px;
}

/* ----------------------------------------Background*/


.menu-background {
    font-size: 22px;
	color:#000000; 
	text-align:center;
    background-image: url('../images/party.jpg');
    background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
}

.page-bg {
    background-image: url('../images/table.png');
    background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	width:100%;
    height:100%;
	padding:0px;
	margin:0px;
}

.handrandom1{
    background-image: url('../images/o_fist.png');
	background-position:center;
    background-size: 50% 100%;
	background-repeat: no-repeat;
	height:200px;
	width:175px;
    rotate: 360deg;
	margin:20px 50px 20px 50px;
}

.handrandom2{
    background-image: url('../images/o_fist.png');
	background-position:center;
    background-size: 50% 100%;
	background-repeat: no-repeat;
	height:200px;
	width:175px;
	margin:20px 50px 20px 50px;
}

.playerhand1{
    background-image: url('../images/fist.png');
	background-position:center;
    background-size: 50% 100%;
	background-repeat: no-repeat;
	height:200px;
	width:175px;
	margin:20px 50px 20px 50px;
}

.playerhand2{
    background-image: url('../images/fist.png');
	background-position:center;
    background-size: 50% 100%;
	background-repeat: no-repeat;
	height:200px;
	width:175px;
	margin:20px 50px 20px 50px;
}

.dropdown-content {
    color: #000;
    padding: 2px;
    display: none;
    background-image: url('../images/buttonwood.jpg');
    background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 18px;
    text-align:left;
    transition: width 2s;
}

.btn {
    width: 50px;
    height: 50px;
    margin: auto;
    font-size: 21px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50%;
    background-image: url('../images/buttonwood.jpg');   
    -webkit-box-shadow: 0 3px #000;   
            box-shadow: 0 3px #000;
}
.btn-newgame {
    width: 150px;
    margin: 10px;
    font-size: 1.0em;
    border: 1px solid #000;
    border-radius: 5px;
    background-image: url('../images/buttonwood.jpg');   
    -webkit-box-shadow: 0 3px #000;   
            box-shadow: 0 3px #000;
}

.btn-quit {
    width: 150px;
    margin: 10px;
    font-size: 1.0em;
    border: 1px solid #000;
    border-radius: 5px;
    background-image: url('../images/buttonwood.jpg');  
    -webkit-box-shadow: 0 3px #000;   
            box-shadow: 0 3px #000;
}

.btn-decision {
    width: auto;
    height: auto;
    font-size: 21px;
    border: 1px solid #000;
    border-radius: 5px;
    background-image: url('../images/buttonwood.jpg'); 
    -webkit-box-shadow: 0 3px #000;   
            box-shadow: 0 3px #000;
}

.restart-btn{
    width: auto;
    height: auto;
    margin: 10px;
    font-size: 21px;
    border: 1px solid #000;
    border-radius: 5px;
    background-image: url('../images/buttonwood.jpg'); 
    -webkit-box-shadow: 0 3px #000;   
            box-shadow: 0 3px #000;
}

.help {
    width: auto;
    height: auto;
    margin: 10px;
    font-size: 21px;
    border: 1px solid #000;
    border-radius: 5px;
    background-image: url('../images/buttonwood.jpg');   
    -webkit-box-shadow: 0 3px #000;   
            box-shadow: 0 3px #000;
}

.help-btn{
    margin-top: 15px;
    margin-bottom: 15px;
}

.decision{
    flex-wrap: wrap;
    display: flex;
    align-content: center;
}

/* ----------------------------------------Hover */
.btn-quit:hover {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; 
    text-shadow: 0 0 3px rgb(158, 6, 6);
}

.dropdown {
  transition: width 2s;
}

.dropdown:hover .dropdown-content {
	display: inline-block;
	}

.btn:hover {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; 
    text-shadow: 0 0 3px rgb(0, 0, 0);
}


/* --------------------------------------Animation */
.hand {
  /* Start the shake animation and make the animation last for 5 seconds */
  animation: shake 5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(1px, 2px) rotate(0deg); }
  20% { transform: translate(-1px, -2px) rotate(-1deg); }
  30% { transform: translate(0px, 0px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(0px, 0px) rotate(1deg); }
  60% { transform: translate(0px, 0px) rotate(0deg); }
  70% { transform: translate(0px, 0px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(-1px, 2px) rotate(-1deg); }
  100% { transform: translate(0px, px) rotate(-1deg); }
}
